<!-- this is my part 3 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css_style.css">
</head>
<body>
  <!-- for part 7 - navigation bar -->
  <nav>
    <a href="/">Home</a>
    <a href="/user">Users</a>
    <a href="/products">Products</a>
  </nav>
  
  <h1>This is the homepage</h1>
  <ul>
    <li><a href="/user">View Users here</a></li>
    <br>
    <li><a href="/products">View Products here</a></li>
    <br>
    <li><a href="/products/high-id">Products with ID greater than 3</a></li>
    <br>
  </ul>
</body>
</html>
